@import url('https://fonts.googleapis.com/css?family=Homenaje|Ubuntu+Condensed|Ranga:400,700|Pathway+Gothic+One|Yanone+Kaffeesatz&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    margin-top: -100px;
}

.marco{
    display: flex;
    justify-content: center;
    position: relative;
    top: 60px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background: #000;
    border: 2px solid #fff;
    border-radius: 50%; 
}

.logo:hover{
    border: 2px solid #ff0022;
    box-shadow: 0 0 8px #ff0022;
}

img{
    width: 50px;
}

.formulario{
    box-sizing: border-box;
    width: 280px;
    height: 350px;
    background: #0c0c0c;
    border-radius: 30px;
    text-align: center;
    padding-top: 80px;
}

h1{
    color: #fff;
    font-family: "Ranga";
}

input{
    box-sizing: border-box;
    margin: 5px;
    height: 35px;
    width: 80%;
    border-radius: 14px;
    border: none;
    border: 2px solid #6d6d6d;
    background: #181818;
    font-family: "Ubuntu Condensed";
    font-size: 11pt;
    outline: none;
    color: #fff;
}

::-webkit-input-placeholder{
    padding: 10px 0px 0px 0px;
    font-family: "Ubuntu Condensed";
    color: rgba(255, 255, 255, .5 );
    font-size: 11pt;
}

input[type="text"],[type="password"]{
    padding-left: 30px;
}

input[type="text"]{
    background: url(../img/icono/user.png) no-repeat;
    background-size: 15px;
    background-position-y: center;
    background-position-x: 10px;
}

input[type="password"]{
    background: url(../img/icono/key.png) no-repeat;
    background-size: 15px;
    background-position-y: center;
    background-position-x: 10px;
}

input[type="submit"]{
    color: #fff;
    font-family: "Ranga";
    font-weight: bold;
    font-size: 16pt;
    background: #00f034;
    border: none;
    margin-bottom: 15px;
    cursor: pointer;
}

input[type="submit"]:hover{
    box-shadow: 0 0 8px #00f034;
}

a,a{
    text-decoration: none;
    font-family: "Homenaje";
    font-size: 12pt;
}

.recuperar-contraseña a{
    line-height: 30px;
    color: #ff9900;
}

.registrarse a{
    color: #00f034;
    padding: 10px 0px 0px 0px;
}  