table th{
    background-color : #00a2ff;
    color: #d8d8d8;
    text-align: center;
    height: 15pt;
}

table{
    font-size: 9pt;
}
table tr{
    color: #000000;
    background-color: #ffffff;
    text-align: center;
}

.tc{text-align: center}
.tr{text-align: right}
.tl{text-align: left};

.carrera{
    width: 250px !important;
}

.examen{
    width: 60px;
}

.titulo{
    color: #00a2ff;
    text-align: center;
    margin: 0;
    padding: 0;
}